.editor {
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #282a35;

  .editor-header {
    padding: 10px 15px;
    border-bottom: 1px solid darken(#282a35, 3);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .heading {
      color: #fff;
      font-size: 16px;
      display: flex;
      align-items: center;

      .icon {
        margin-right: 5px;
        font-size: 24px;
        color: #118AB2;
      }
    }

    .actions {
      display: flex;
      justify-content: space-between;

      .margin-btn {
        margin-left: 25px;
      }
    }
  }
}
