.editor {
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #282a35;

  .editor-header {
    padding: 10px 15px;
    border-bottom: 1px solid darken(#282a35, 3);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .heading {
      color: #fff;
      font-size: 16px;
      display: flex;
      align-items: center;

      .icon {
        margin-right: 5px;
        font-size: 24px;
        color: #118AB2;
      }
    }

    .submit-btn {
      font-size: 16px;
      font-family: "Fira Code", monospace;
      background-color: #118AB2;
      color: white;
      padding: 5px 12px;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      transition: 0.2s;
      display: flex;
      align-items: center;

      .icon {
        margin-right: 5px;
        opacity: 0.75;
      }

      &:hover {
        background-color: darken(#118AB2, 3);
      }

      &:active, &:focus {
        background-color: darken(#118AB2, 5);
        box-shadow: 0 0 0 2px transparentize(#118AB2, 0.75);
        outline: none;
      }

      &.disabled, &[disabled], &:disabled {
        background-color: #535353;
        opacity: 0.5;
      }
    }
  }
}
